fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic
pydantic-settings
pandas
numpy
scikit-learn
ortools
httpx
twilio
Pillow
